<?xml version='1.0' encoding='utf-8'?>
<widget id="com.akosma.KitchenSink" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PGKitchenSink</name>
    <description>
        Application that demonstrates various  APIs.
    </description>
    <author email="sabkaraja@hotmail.com" href="google.com">
        Rajesh
    </author>
	
    <gap:plugin name="cordova-plugin-app-version" source="npm" />
    <gap:plugin name="cordova-plugin-battery-status" source="npm" />
    <gap:plugin name="cordova-plugin-camera" source="npm" />
	
    <gap:plugin name="cordova-plugin-console" source="npm"/>
    <gap:plugin name="cordova-plugin-device" source="npm" />
    <gap:plugin name="cordova-plugin-device-motion" source="npm"  />
    <gap:plugin name="cordova-plugin-device-orientation" source="npm" />
    <gap:plugin name="cordova-plugin-dialogs" source="npm" spec="~1.3.0" />
    <gap:plugin name="cordova-plugin-file" source="npm" />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" />
    <gap:plugin name="cordova-plugin-geolocation" source="npm"  />
	<gap:plugin name="cordova-plugin-globalization" source="npm" /> 
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" /> 
    <gap:plugin name="cordova-plugin-media" source="npm" /> 
    <gap:plugin name="cordova-plugin-media-capture" source="npm" />
    <gap:plugin name="cordova-plugin-network-information" source="npm"/> 
    <gap:plugin name="cordova-plugin-sim" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" /> 
	<gap:plugin name="cordova-plugin-statusbar" source="npm"  />
    <gap:plugin name="cordova-plugin-vibration" source="npm"/>
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />	
	
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
	<preference name="AndroidPersistentFileLocation" value="Compatibility" />
	
    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />

    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />


    <access origin="http://127.0.0.1*" />
    <content src="index.html" />

	<platform name="android">
		<icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
		<icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
		<icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
		<icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
		<icon density="xxhdpi" src="res/icon/android/icon-144-xxhdpi.png" />
		<icon density="fr-xxhdpi" src="res/icon/android/icon-144-xxhdpi.png" />
		<splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
		<splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
		<splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
		<splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
	
		<gap:config-file platform="android" parent="/manifest" mode="merge">
			<!-- <supports-screens 
				android:xlargeScreens="false" 
				android:largeScreens="false" 
				android:smallScreens="false" /> -->
            
            <application android:theme="@android:style/Theme.NoTitleBar">
				<activity android:theme="@android:style/Theme.NoTitleBar"></activity>
			</application>
			
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="com.android.vending.BILLING" />
			
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
			
			<access origin="http://*" />
			<access origin="https://*" />
			<allow-navigation href="*" />
			<allow-intent href="*" />
		</gap:config-file>
	</platform>
	
	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />
		<allow-intent href="http://*/*" />
		<allow-intent href="https://*/*" />
		<icon platform="ios" width="180" height="180" src="res/icon/ios/icon-60-3x.png" />
		<icon platform="ios" width="120" height="120" src="res/icon/ios/icon-60-2x.png" />
		<icon platform="ios"  width="60"  height="60" src="res/icon/ios/icon-60-1x.png" />

		<icon platform="ios" width="152" height="152" src="res/icon/ios/icon-76-2x.png" />
		<icon platform="ios"  width="76"  height="76" src="res/icon/ios/icon-76-1x.png" />

		<icon platform="ios" height="144" width="144" src="res/icon/ios/icon-72-2x.png" />
		<icon platform="ios"  height="72"  width="72" src="res/icon/ios/icon-72.png" />

		<icon platform="ios" height="114" width="114" src="res/icon/ios/icon-57-2x.png" />
		<icon platform="ios"  height="57"  width="57" src="res/icon/ios/icon-57.png" />

		<icon platform="ios" width="100" height="100" src="res/icon/ios/icon-50-2x.png" />
		<icon platform="ios"  width="50"  height="50" src="res/icon/ios/icon-50-1x.png" />

		<icon platform="ios"  width="80"  height="80" src="res/icon/ios/icon-40-2x.png" />
		<icon platform="ios"  width="40"  height="40" src="res/icon/ios/icon-40-1x.png" />
		
		<icon platform="ios"  width="58"  height="58" src="res/icon/ios/icon-29-2x.png" />
		<icon platform="ios"  width="29"  height="29" src="res/icon/ios/icon-29-1x.png" />

		<gap:config-file platform="ios" target="*-Info.plist" parent="NSLocationAlwaysUsageDescription" overwrite="true"><string>ECHOHELLO needs to access your location. Your location will be shown on the map and will be used to provide you nearby search results. Turn Off Location Services in Settings > Privacy</string></gap:config-file>
		<gap:config-file platform="ios" target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription" overwrite="true"><string>ECHOHELLO needs to access your location. Your location will be shown on the map and will be used to provide you nearby search results.Turn Off Location Services in Settings > Privacy</string></gap:config-file>
		<gap:config-file platform="ios" target="*-Info.plist" parent="NSPhotoLibraryUsageDescription" overwrite="true"><string>ECHOHELLO needs to access your photo library.</string></gap:config-file>
		<gap:config-file platform="ios" target="*-Info.plist" parent="NSCameraUsageDescription" overwrite="true"><string>ECHOHELLO needs to access your device camera.</string></gap:config-file>
		<gap:config-file platform="ios" parent="NSAppTransportSecurity">
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<true/>
			</dict>
		</gap:config-file>
	</platform>
	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>
		
	<feature name="Geolocation">
		<param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
	</feature>
	
	<feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
		<param name="ios-package" value="CDVDevice" />
    </feature>	
</widget>
